
<div class="header blue"> 
	<span class="title">
		<%= stat.escape('name') %> 
		<% if(category){ %>
			<span class="category">
				(<%= category.escape('name') %>)
			</span>
		<% } %>
	</span>
</div>

<div class="main">
	<div class="controls">
		<ul>
			<li class="button plus">+</li>
			<li class="number">23
			</li>
			<li class="button minus">-</li>
		</ul>
	</div><!-- .controls -->
	<div class="values">
		<table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Value</th>
            <th>Goal %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Today</td>
            <td>20</td>
            <td>100%</td>
          </tr>
          <tr>
            <td>4.4</td>
            <td>17</td>
            <td>85%</td>
          </tr>
          <tr>
            <td>4.3</td>
            <td>21</td>
            <td>105%</td>
          </tr>
          <tr>
            <td>4.2</td>
            <td>6</td>
            <td>30%</td>
          </tr>
          <tr>
            <td>4.1</td>
            <td>12</td>
            <td>60%</td>
          </tr>
          <tr>
            <td>3.31</td>
            <td>22</td>
            <td>110%</td>
          </tr>
        </tbody>
      </table>
	</div><!-- .values -->
	<ul class="menu">

			<li class="detail">
				<a class="detail" href="#stat/<%= stat.id %>">
					<img src="assets/icons/data.png" />
					<br />Detail
				</a>
			</li>

			<li>
				<a class="star" href="#">
					<img data-role="<%= stat.id %>" src="<%= star %>" />
					<br />Starred
				</a>
			</li>

			<li class="">
				<a class="options" href="#">
					<img src="assets/icons/settings.png" />
					<br />Options
				</a>
			</li>

			<li class="delete">
				<a class="delete" href="#">
					<img src="assets/icons/delete.png" />
					<br />Delete
				</a>
			</li>



	</ul>
</div><!-- .span3 -->


